@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    
    .menu {
        flex-direction: column;
    }
    
    .menu a {
        line-height: 2em;
    } 
    
    .container {
        width: 540px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .navbar {
        background-color: rgb(17, 202, 144);
    }
    .container {
        width: 540px;
        margin: 0 auto;
        background-color: blanchedalmond;
        
    }

}



